@model WebManuals.Models.manuals
@{
    Layout = "~/Views/Shared/_UploadLayout.cshtml";
}
@{
    ViewBag.Title = "Update";
}

<h2>Update Manual</h2>

<h3>Please select the replacement file.</h3>
<div>
    <h4>manuals</h4>
    <hr />

    @using (Html.BeginForm("Update", "Manuals", FormMethod.Post, new { enctype = "multipart/form-data" }))

    {

        <div>
            Select the PDF Manuals: &nbsp;
            <input type="file" name="files" id="Manualid" class="ms-btn-default" data-multiple-caption="{count} files selected" multiple /><br />
            Only PDFs are allowed<br />
        </div>
               
        <dl class="dl-horizontal">
            <dt>
                @Html.DisplayNameFor(model => model.manual_name)

            </dt>

            <dd>
                @Html.DisplayFor(model => model.manual_name)

            </dd>

            @*<dt>
                @Html.DisplayNameFor(model => model.manual_url)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.manual_url)
            </dd>*@

            @*<dt>
                    @Html.DisplayNameFor(model => model.manual_content)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.manual_content)
                </dd>*@

            @*<dt>
                @Html.DisplayNameFor(model => model.manual_master_model)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.manual_master_model)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.languages.language_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.languages.language_name)
            </dd>

            <dt>
                @Html.DisplayNameFor(model => model.modeltypes.modeltype_name)
            </dt>

            <dd>
                @Html.DisplayFor(model => model.modeltypes.modeltype_name)
            </dd>*@

        </dl>


        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Update" class="btn btn-danger" />
            @*@Html.ActionLink("Back to Upload", "Create")*@
        </div>
    }
</div>
